<body>
  <div class="container">
      <div class="row">
          <div class="col-md-4 col-md-offset-4">
              <div class="login-panel panel panel-default">
                  <div class="panel-heading">
                      <h3 class="panel-title">Inicia sesión</h3>
                  </div>
                  <div class="panel-body">
                      <form role="form">
                          <fieldset>
                              <div class="form-group">
                                  <input id="correo" class="form-control" placeholder="E-mail" name="email" type="email" autofocus>
                              </div>
                              <div class="form-group">
                                  <input id="password" class="form-control" placeholder="Contraseña" name="password" type="password" value="">
                              </div>
                              <a id="btn-inicio" href="#" class="btn btn-lg btn-success btn-block">Iniciar sesión</a>
                              <br>
                              <a href="/registroUsuarios" class="">Crear usuario</a>
                          </fieldset>
                      </form>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <input type="hidden" name="_csrf" id="_csrf" value="{{csrfToken}}">
</body>
<script>var csrfToken = $('#_csrf').val();</script>
<script type="text/javascript" src="js/login.js"></script>
